*{
    box-sizing: border-box;
}
/* Using Float */

body{
    margin: 30px 60px;
    background-color: khaki;
}

.nav__main{
    height: 30px;
    display: block;
    width: 650px;
    background-color: blue;
}
.nav__main--active{
    border-bottom: black solid 2px;
    padding-bottom: 2px;
}
.nav__logo{
    height: 30px;
    float: left;
    font-weight: bold;
    margin: 0px 50px 0px 0px;
    background-color: brown;
}
.nav__main li, .nav__social li{
    float: left;
    list-style: none;
}
.nav__main li{
    padding: 0px 16px;
}
.nav__main li a{
    text-decoration: none;
    color: black;
}
.nav__social{
    height: 30px;
    width: 160px;
    
    background-color: lightcoral;
}
.nav__social li{
    padding: 0px 8px;
    
}
/* .clearfix::after{
    content: "";
    clear: both;
    display: table;
} */
 */

/* Using Flex */

/* Using Grid */